
.ebook__wrapper{
	height: 100vh;
	position: relative;
	padding-top: 50px;
	background-color: #333;
}
.ebook__page-list{
	position: fixed;
	left: 0;top: 50px;
	width: 200px;height: calc(100vh - 50px);
	background-color: #f5f5f5;
	z-index: 100;
	padding: 10px;
	transition: all 0.2s ease-in-out;
	transform: translateX(-100%);
}
.ebook__page-list.on{
	transform: translateX(0);
}

.ebook__page-list h3{
	font-size: 16px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #333;
}
.ebook__page-list-btn{position: absolute;right: 0;top:0;
	transform: translateX(100%);
	width: 38px;height: 38px;background-color: #f5f5f5;
	z-index: 10;
}
.ebook__page-list-btn{
	display: block;
}
.ebook__page-list-btn::after{
	content: "";
	display: block;width: 14px;height: 14px;
	position: absolute;left:50%;top:50%;
	border: 2px solid #111;
	border-width: 0 0 2px 2px;
	margin-left: 5px;
	transform: translate(-50%,-50%) rotate(45deg);
}
.ebook__page-list-btn.open::after{
	border-width: 2px 2px 0 0;
	margin-left: -3px;
}
.ebook__page-list .ebook__page-list-btn.open{display: block;}
.ebook__page-list .ebook__page-list-btn.close{display: none;}
.ebook__page-list.on .ebook__page-list-btn.open{display: none;}
.ebook__page-list.on .ebook__page-list-btn.close{display: block;}
.ebook__page-list-depth-1{
}
.ebook__page-list-depth-1 li{margin-bottom: 5px;
	padding-left: 10px;
}
.ebook__scroll{
	width: 100vw;
	height: 100%;
	overflow: auto;
	position: relative;
	padding-left: 200px;
}
.ebook__container{position: relative;overflow: hidden;
	transition: all 0.2s;
	transform: scale(var(--scale));
	padding:50px;
}

.ebook__img-list{
	display: flex;
	justify-content: center;
	position: relative;
	padding:0 20px;
	z-index: 1;
}
.ebook__img-list li{
	display: none;
}
.ebook__img-list li.active{
	display: block;
	animation: page_open 0.2s 0.2s both;
	position: relative;
	transform-origin: right;
}

.ebook__img-list li.active{
	display: block;
	animation: fade_in 0.3s both;
	position: relative;
}

.ebook__img-list::before{
	content: "";width:4%;height: 100%;
	position: absolute;left: 50%;top:0;margin-left: -4%;
	background: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,0.2) 70%,rgba(0,0,0,0.5));z-index: 10;
}
.ebook__img-list::after{
	content: "";width:4%;height: 100%;
	position: absolute;left: 50%;top:0;
	background: linear-gradient(to left,rgba(0,0,0,0),rgba(255,255,255,0.5) 80%,rgba(0,0,0,0.8));
}
@keyframes fade_in {
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@keyframes page_open {
	from{
		transform: scaleX(0);
	}
	to{
		transform: scaleX(1);
	}
}
@keyframes page_close {
	from{
		transform: scaleX(1);
	}
	to{
		transform: scaleX(0);
	}
}
.double .ebook__img-list.first li,
.double .ebook__img-list.last li{width: 50%;animation: none;}
.ebook__img-list.first::before,
.ebook__img-list.last::before{display: none;}
.ebook__img-list.first::after,
.ebook__img-list.last::after{display: none;}


.ebook__page-back{
	position: absolute;
	width: 100%;height: 100%;
	left:0;top:0;
	padding:50px 70px;
	display: flex;
	z-index: 0;
}
.ebook__page-back li{
	width: 100%;height: 100%;
	background-color: #fff;
	z-index: -1;
	position: relative;
}
.ebook__page-back li::before{
	content: "";width: 100%;height: calc(100% - 16px);
	position: absolute;left: -7px;top:8px;
	background-color: #ddd;z-index: -1;
}
.ebook__page-back li::after{
	content: "";width: 100%;height: calc(100% - 30px);
	position: absolute;left: -14px;top:15px;
	background-color: #aaa;z-index: -2;
}
.ebook__page-back li.right::before{
	left:inherit;right: -7px;
}
.ebook__page-back li.right::after{
	left:inherit;right: -14px;	
}
.double .ebook__page-back.first{left:50%;transform: translateX(-50%);width: 50%;padding:50px 35px}
.ebook__page-back.first li{width: 100%;}
.ebook__page-back.first li:first-child{display: none;}
.double .ebook__page-back.last{left:50%;transform: translateX(-50%);width: 50%;padding:50px 35px}
.ebook__page-back.last li{width: 100%;}
.ebook__page-back.last li:last-child{display: none}

/* 한페이지 보기 */
.ebook__wrapper.single .ebook__img-list::before,
.ebook__wrapper.single .ebook__img-list::after{display: none;}
.ebook__wrapper.single .ebook__page-back .right{display: none;}
.ebook__wrapper.single .ebook__page-back.first .right{display: block;}

.ebook__control button{
	position: absolute;
	top:0;
	width: 50%;height:100%;	
	display: flex;align-items: center;
	opacity: 0;
	transition: all 0.3s;
	z-index: 10;
}
.ebook__control button:hover{opacity: 1;}
.ebook__control button span{
	display: inline-block;	
	border: 2px solid rgba(0,0,0,0.5);
	text-indent: -9999px;
	width: 26px;height:26px;	
}
.ebook__control .ebook__prev{left: 0;padding-left: 20px;}
.ebook__control .ebook__next{right: 0;padding-right: 20px;justify-content: flex-end;}
.ebook__control .ebook__prev span{border-width: 0 0 2px 2px;transform: rotate(45deg);}
.ebook__control .ebook__next span{border-width: 0 0 2px 2px;transform: rotate(-135deg);}

.ebook__page-current::-webkit-outer-spin-button,
.ebook__page-current::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ebook__page-control{display: flex;align-items: center;}
.ebook__page{
	position: fixed;
	width: 100vw;
	height: 50px;
	left: 0;
	top:0;
	background-color: #111;
	display: flex;justify-content: space-between;
	padding: 0 15px;
	align-items: center;
	font-size: 14px;
}

.ebook__page h2{
	font-size: 18px;color: #fff;
	font-weight: 500;
	display: flex;align-items: center;
}
.ebook__page .btn-pdf-down{
	display: flex;align-items: center;
	justify-content: space-between;
	font-size: 14px;
	position: relative;
	padding: 5px 10px;border: 1px solid #fff;

}
.ebook__page .btn-pdf-down::after{
	content: "";display: block;width:16px;height: 16px;
	margin-left: 5px;
	background: url(../img/down_ic.svg) no-repeat center/contain;
}
.ebook__page-current{border: 1px solid #ddd;border-radius: 4px;width:30px;height: 32px;text-align: center;}
.ebook__page-kan{margin:0 5px}
.ebook__btn-page-move{margin-left: 10px;border-radius: 4px;height: 32px;padding:0 10px;background-color: #fff;color:#333;}

.ebook__scale{display: flex;align-items: center;}
.ebook__scale-txt{margin: 0 10px;color: #fff;width: 40px;text-align: center;}
.ebook__scale button{border-radius: 4px;height: 32px;padding:0 10px;background-color: #fff;color:#333;}

@media all and (max-width:768px){
	.ebook__scroll{padding-left: 0;}
	.ebook__page-list{
		transform: translateX(0);
		opacity: 0.9;
	}
	.ebook__page-list.on{
		transform: translateX(-100%);
	}
	.ebook__page-list .ebook__page-list-btn.close{display: block;}
	.ebook__page-list .ebook__page-list-btn.open{display: none;}	
	.ebook__page-list.on .ebook__page-list-btn.close{display: none;}
	.ebook__page-list.on .ebook__page-list-btn.open{display: block;}
}